### introduction

In [10]:
num1 , num2 = 13,"44" 
exnum1 , exnum2 = 11 , 22
num1 , num2 = exnum1, exnum2
print(num1,num2)
print(type(num2))

11 22
<class 'int'>

##### count(“that’s your world”) => count your world in the message 
##### Find() , rfind() ==> not found ==> -1
##### Index() , rindex()  not found  value error
##### Startwith() , endwith()  not found   False
##### Replace(“the first world” , “the second world” )
##### Isdigit() , isalpha()  میبینه ایا استرینگ من شامل عدد یا حروف هستش یا نه  true or false

### aski code

In [12]:
char1 = "A"
resalt1  = ord(char1)
print(resalt1)
#-------------------------------
print(chr(65))

65
A

### copy in list (shallow copy) and (deep copy)

###### دیپ کپی در تاپل و ست معنا ندارد و فقط بر روی لیست و دیکشنری کاربرد دارد

In [25]:
list1 = [2,13,17]
list2  =list1
print(f"list1 : {list1}  and list2 : {list2}")
list1.append(22)
print(f"list1 : {list1}  and list2 : {list2}")

list1 : [2, 13, 17]  and list2 : [2, 13, 17]
list1 : [2, 13, 17, 22]  and list2 : [2, 13, 17, 22]

In [26]:
list1 = [2,13,17]
list2  =list(list1)  
print(f"list1 : {list1}  and list2 : {list2}")
list1.append(22)
print(f"list1 : {list1}  and list2 : {list2}")

list1 : [2, 13, 17]  and list2 : [2, 13, 17]
list1 : [2, 13, 17, 22]  and list2 : [2, 13, 17]

In [27]:
### shallow copy 
list1 = [2,13,17]
list2  = list1.copy()
list1.append(22)
print(f"list1 : {list1}  and list2 : {list2}")

list1 : [2, 13, 17, 22]  and list2 : [2, 13, 17]

In [23]:
### deep copy : 
import copy 
list1 = [1, 2, 4, [3, 5, 7]]
print(list1[3] [1])
list2 = copy.deepcopy(list1)
list1[3] [1] = 200
print(list1, list2)

5
[1, 2, 4, [3, 200, 7]] [1, 2, 4, [3, 5, 7]]

### map and enumerate and Zip

In [ ]:
### map  : 
list1 = ["3", "5", "12" , "13" , "22"]
list2  = list(map(int , list1))
print(list2)

[3, 5, 12, 13, 22]

In [ ]:
list1 = ["3", "5", "12" , "13" , "22"]
list2  = [ ]
for i in list1 :
    list2.append(int(i))
print (list2)

[3, 5, 12, 13, 22]

In [ ]:
### map : 
def sum_numbers (num1 , num2 ):
    res  = num1 + num2
    return res 

list1 = [3, 1, 6, 13, 15] # 0, 1, 2, 3, 4
list2 = [3, 5, 16, 8 ]# 4 === > IndexError
list3 = list(map(sum_numbers, list1, list2))
print(list3)

[6, 6, 22, 21]

In [5]:
### enumerate : 
color = ["purple" , "green", "yellow" , "black", "white" ]
for index , each_color in enumerate(color):
    print(index,"and" , each_color)

0 and purple
1 and green
2 and yellow
3 and black
4 and white

In [12]:
### zip : 
name = ["p1", "p2", "p3"]
price = (200, 130, 300)
color =("r", "b", "y")
products = list(zip(name, price, color))
for n , p , c  in products: 
    print(n , p , c)

p1 200 r
p2 130 b
p3 300 y

### defind function (lambda)

In [ ]:
def sum_numbers (num1 , num2 ):
    res  = num1 + num2
    return res 

### or we can write this ==> 

sum_numbers2 = lambda num1 , num2 :  num1 + num2

### dictionary  (add and insert)

In [7]:
book = {
    "name" : "python",
    "price " : 230_000 ,
    "year" : 2024 
}
book_updater = {
    "name" : "python",
    "price " : 230_000 ,
    "year" : 2025 , 
    "color" : "yellow" ,
    "publisher" : "taylor" ,
    "import date" : 13
}

In [33]:

###  types of updater : 
book ["publisher"] = "Atslover"
book ["year"] = 2025
book.update({'name': 'python', 'price ': 230000, 'year': 2025, 'publisher': 'Atslover' , "color" : "purple"})
book.update(book_updater)
# or we can use this for update :
book |= book_updater

### execute 
print(book)
print(book.get("pages" , "not found !!")) ## not makes any error
print(book["name"])  ## makes an error

{'name': 'python', 'price ': 230000, 'year': 2025, 'publisher': 'taylor', 'color': 'yellow', 'import date': 13}
not found !!
python

### dictionary (removing)

In [ ]:
#type 1==>
name = book.pop("name" , "not found this item") 
print(name)

# type 2 ==> 
name2  = book.popitem() 
print(name2)

# type 3 ==> 
del book["year"] 
print(book)

not found this item
('color', 'yellow')
{'price ': 230000, 'publisher': 'taylor'}

### dictionary (searching)

In [8]:
if "name" in book.keys(): # (book) and (book.keys()) both of them is the same 
    print("yes")
else:
    print("no")

yes

### local and global

In [ ]:
### local x 
def add1(x):
    x += 1
    print(x)

### global x 
def add2():
    global x 
    x += 1
    print(x)
#-----------------------------------------
x = 10

## test local x :
print(x)
add1(x)
print( "result of local x : ", x)

## test global x : 
print(x)
add2()
print("result of global x : " , x)

10
11
result of local x :  10
10
11
result of global x :  11

### datetime library

In [10]:
import datetime 

### strftime()
print(datetime.datetime.now().strftime("%Y - %m - %d"))

###strptime()
date_time = datetime.datetime.strptime("2005 - 01 - 28" , "%Y - %m - %d").date() # or time()

### timedelta(days= 1)
new_date_time  = date_time + datetime.timedelta(days= 1)
print(f" the old date is : {date_time} and the new date is {new_date_time}")

2025 - 07 - 05
 the old date is : 2005-01-28 and the new date is 2005-01-29

### tuple (define , insert , edit , removing )

In [2]:
t1 = (20,) ### "," is vary important in here to define tuple mode !!
print(type(t1))

t2 = 20, 22 ,13 , 33 ### for tuple , "()" doesn't very important here 
print (t2 , type(t2))

<class 'tuple'>
(20, 22, 13, 33) <class 'tuple'>

###### در تاپل ها اضافه یا حذف کردن داده ها مجاز نمیباشد و حتما ارور میدهد . برای رفع مشکل باید ان را به لیست تبدیل کرده ، بر روی ان ادیت کرده و یا اضافه و حذف کرده و در اخر ان را به تاپل تبدیل میکنیم

In [4]:
### example :

t1 = (3, 12, 14, 45)
print(t1, type(t1))
# Modify
t1 = list(t1)
print(t1, type(t1))
# add
t1.append(200)
t1.insert(1, 20)
print(t1, type(t1))
# Modify
t1 = tuple(t1)
print(t1, type(t1))

### the way 2 : 
t1  = t1 + (50 ,)
print("the new tuple : " , t1)

(3, 12, 14, 45) <class 'tuple'>
[3, 12, 14, 45] <class 'list'>
[3, 20, 12, 14, 45, 200] <class 'list'>
(3, 20, 12, 14, 45, 200) <class 'tuple'>
the new tuple :  (3, 20, 12, 14, 45, 200, 50)

In [ ]:
### sorting in tuple :

t1 = (12, 5 ,13, 33 ,23 ,22)

###sorting type 1 : 
t1_sorted1 = tuple(sorted(t1 ,reverse= True))
print(t1_sorted1)

### sorting type 2 : 
t1_sorted2 = list(t1)
t1_sorted2.sort(reverse=True)
t1_sorted2 = tuple(t1_sorted2)
print(t1_sorted2)

(33, 23, 22, 13, 12, 5)
(33, 23, 22, 13, 12, 5)

### type of output in variable

In [ ]:
*x , y , z  = 12,13,15,14
print(x,y,z)

resalt  = 12 , 13, 14,15 
print(resalt)

[12, 13] 15 14
(12, 13, 14, 15)

## set

######  نه ایندکس ولیو هستش و نه کییی ولیو  برای دسترسی باید حتما حلقه زد  و برای حذف ان باید حتما بر اساس ولیو ان را پاک کرد

In [ ]:
### removing  
set1 = {12, 13, 33 ,1, 2, 1, 4, 5,3, 4, 3}
set1.remove(3)  ## makes an error
set1.discard(13) ## doesn't make error
print(set1)

{33, 2, 1, 4, 5, 12}

### "os" library and work  with "walk" method

In [20]:
import os 

setter_files = set()
pathh =  "/Users/ASUS/Desktop/picture of cctv" 
extract  = list(os.walk(pathh))
# شامل لیست کلی
#   که شامل تاپلی
#  که هر تاپل دارای سه تا لیست میباشد 
# که عضو اول ادرس
# ادرس دوم اسم پوشه های موجود در ان ادرس و
#  در نهایت فایل های موجود در ان ادرس داده شده است 

for path  ,  directory  , files  in extract : 
    for f in files : 
        file  = f.split(".")[-1]
        setter_files.add(file) ##   برای جلوگیری از داده های تکراری در لیست نهاییمان استفاده میکنیم 
print(list(setter_files))

['vsdx', 'jpg', 'pdf', 'png', 'ini']